
body { 
    background-color: #00676b;
background-image: url("https://www.transparenttextures.com/patterns/gplay.png");


 font-family: 'Balsamiq Sans', cursive;
 text-align: center;
}

.heading h1 {
    color: #9a1f38;
   text-align: center;
    font-size: 65px;
    
}

footer {
    text-align: center;
    font-size: 22px;
    margin-top: 210px;
    
    
}

.set {
    margin: 10% auto;
}

.w {
    background-image: url("images/crash.png");
    
}

.a {
    background-image: url("images/kick.png");
}

.s {
    background-image: url("images/snare.png");
}

.d {
    background-image: url("images/tom1.png");
}

.j {
    background-image: url("images/tom2.png");
}

.k {
    background-image: url("images/tom3.png");
}

.l {
    background-image: url("images/tom4.png");
}

.drum {
    width: 200px;
    height: 180px;
     text-align: center;   
     font-size: 35px;
     margin: 8px 18px;
     outline: none;
     border: none;
     border-radius: 13px;
}